.Cards {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.Cards .ui.card {
  margin-top: -20px;
  margin-left: 5px;
  margin-right: 5px;
  width: 120px;
  height: 160px;
}

.City {
  cursor: pointer;
}

.item .content .header.City {
  margin-top: 10px;
}

.HomeList {
  width: 750px;
  margin: 100px auto auto;
}
